<h2 mat-dialog-title>Actualizar Categoria</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field class="crear-cliente-field">
        <input matInput placeholder="Nombre de la categoria" formControlName="nombre">
    </mat-form-field>
    <br/>
        <mat-checkbox  formControlName="estado">Estado</mat-checkbox>
    <br/>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="cerrar()">Cerrar</button>
    <button class="mat-raised-button mat-primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>