<div class=""></div>
<mat-card>
    <mat-card-header>
        <mat-card-title>Esta seguro de eliminar este lugar?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <b>Nombre: {{lugar.nombre}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Descripcion: {{lugar.descripcion}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Gasto Aproximado: {{lugar.gastoAproximado}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>imagen: {{lugar.imagen}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Pais: {{lugar.pais}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Categoria: {{lugar.categoria}}</b>
            </mat-list-item>
        </mat-list>            
    </mat-card-content>
    <mat-card-actions>
<button mat-flat-button (click)="cancel()">Cancelar</button>
<button mat-raised-button color="warn" (click)="confirmar()">Confirmar</button>
    </mat-card-actions>
</mat-card>