<mat-card>
    <mat-card-header>
        <mat-card-title>Esta seguro de eliminar esta categoria?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <b>Nombre: {{categoria.nombre}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Estado: {{categoria.estado}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>            
    </mat-card-content>
    <mat-card-actions>
<button mat-flat-button (click)="cancel()">Cancelar</button>
<button mat-raised-button color="warn" (click)="confirmar()">Confirmar</button>
    </mat-card-actions>
</mat-card>